@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Amatic+SC:wght@700&family=BIZ+UDPMincho&family=Caveat&family=Fredoka+One&family=Roboto+Slab:wght@200&family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Amatic+SC:wght@700&family=BIZ+UDPMincho&family=Caveat&family=Dancing+Script:wght@600&family=Fredoka+One&family=Roboto+Slab:wght@200&family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Amatic+SC:wght@700&family=BIZ+UDPMincho&family=Caveat&family=Fredoka+One&family=Roboto+Slab:wght@200&family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Amatic+SC:wght@700&family=BIZ+UDPMincho&family=Caveat&family=Dancing+Script:wght@600&family=Fredoka+One&family=Roboto+Slab:wght@200&family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Advent+Pro:wght@300&family=Amatic+SC:wght@700&family=BIZ+UDPMincho&family=Caveat&family=Dancing+Script:wght@600&family=Fredoka+One&family=Roboto+Slab:wght@200&family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bad+Script&family=Caveat&family=Dancing+Script:wght@600&family=Mukta&family=Mulish:wght@500&family=Open+Sans:wght@300&family=Roboto+Slab:wght@200&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
